.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-fluid{
   --bs-gutter-x: none;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #f5e0b4;
  font-size: 30px;
}
.nav-link {
  display: block;
  font-size: 30px;

  color: transparent;
  background-image: linear-gradient(to right, #462523 0%, #cb9b51 5%, #f6e27a 20%, #f6f2c0 20%, #f6e27a 10%, #cb9b51 95%, #462523 100%);
  -webkit-background-clip: text;
}
.navbar-expand-md .navbar-nav .nav-link {
 padding-right: 70px;
 padding-right: 70px;
}
.header {
font-size: 24px;
background-color: #591038;
}
.shadow {
  box-shadow: 0 0.5rem 4rem 9px rgb(0 0 0 / 29%) !important;
}
#bg{
box-shadow: 0 0.5rem 4rem 9px rgb(118 119 71 / 71%) !important;
}
.navbar-brand {
 scale: 150%;
}
 .navbar-nav:hover {
  --bs-nav-link-hover-color: #faf8f5;
 }
 .navbar .navbar-toggler-icon {
  opacity: 1;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
  }
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    border-color: transparent;
}
.navbar-toggler {
  color: transparent;
}
body * {
  font-family: "Cormorant Infant", serif;   
  line-height: 1.5;
}
.goal-h3{
  color: wheat;
}
.text-general{
  font-weight: 800;
  text-transform: uppercase; 
  color: wheat;
}
.fixed-top{
  text-transform: uppercase;   
}   
.btn-primary {
  color: unset;
  background-color: unset;
  border-color: unset;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 800;
}
.mybutton {
  background-color: #591038;
  border-color: #513c36;
  border-radius: 45px;
  box-shadow: 1px 0px 5px 0px #4f3504;
}
.mybutton:hover {
  box-shadow: 1px 0px 5px 0px #a5700e;
}
.my-btn, .btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited {
      border-radius: .8rem;
      padding-top: 20px;
      padding-bottom: 20px;
      color: transparent;
      background-image: linear-gradient(to right, #462523 0, #cb9b51 25%, #f6e27a 55%, #f6f2c0 45%, #f6e27a 70%, #cb9b51 80%, #462523 100%);
      -webkit-background-clip: text;
  }
  .btn-primary {
    -bs-btn-border-color: none;
    -bs-btn-hover-border-color: none;
    --bs-btn-border-color: none;
    -bs-btn-color: none;
    --bs-btn-bg: none;
  }
#general, .contacts{
  background-color: #08053d;

}
.contacts{
  background-color: #bfb239fa;

}
.new{
flex-direction: column;
}
.text {
  position: relative;
  color: #efe0b1;
  top: 5%;
}
.text-title{
  color: transparent;
  font-size: 6vw;
  letter-spacing: 0.5vw;
  font-weight: bold;
  background-image: linear-gradient(to right, #462523 0, #cb9b51 35%, #f6e27a 45%, #f6f2c0 55%, #f6e27a 20%, #cb9b51 65%, #462523 100%);
  -webkit-background-clip: text;
}
.text_h2 {
  text-transform: uppercase;
  color: #f5e9817a;
  font-weight: 800;
  font-size: 3.5vw;
  text-shadow: 1px 1px 0px #d3c03bd9;
  margin-bottom: 3vw;
}
.subText_h2 {
  margin-bottom: 8vw;
  font-style: italic;
}
#bg{
  position: absolute;
  /* padding-top: 50px; */
}
#foto1{
  position: absolute;
  padding-top: 5vw;
}

#foto2{
  position: relative;
  scale: 60%;
  top: 7.8vw;
  border-radius: 60% 60% 60% 60% / 30% 30% 30% 30%;
}
.info {
  /* background: linear-gradient(180deg, #08053d, #08053d); */
  background-color: #08053d;
}
.goal_div{
  /* width: 50%; */
  height: 50%
}
.info-text{
  color: wheat;
  line-height: 1.5;
  font-style: italic;
}
.about, .purpose, .comments, .certificates, .form{
  background-color: #08053d;
  color: wheat;
  font-size: 2vw;
}
.form-control {
  font-size: 2vw;
}
.card-title {
  font-size: 1.5em;
}
.card-text1{
  font-size: 1em;
}
.btn-close {
  --bs-btn-close-bg: url('./Components/images/cross.svg');
}
.form-label {
 font-size: 1.3em;
}
#about, #goal, #general, #blog, #price {
  padding-top: 70px;
}
.purpose_p{
  color: wheat;
}
.aboutme{
  color: wheat;
  font-weight: 800;
}
.service{
  background: linear-gradient(360deg, #08053d, #08053d);
  color: #1c0707c4;
}
.number {
  color: transparent;
  font-size: 6vw;
  font-weight: 800;
  background-image: linear-gradient(to right, #462523 0, #cb9b51 80%, #f6e27a 60%, #f6f2c0 50%, #f6e27a 40%, #cb9b51 80%, #462523 100%);
  -webkit-background-clip: text;
}
.accordion-flush .accordion-item:first-child, .accordion-flush .accordion-item, .accordion-flush .accordion-item:last-child  {
  border-top: 0;
  margin-bottom: 45px;
}
.accordion-button:focus {
  border-color: #f5deb3eb;
  box-shadow: 0 0 0 .08rem #b4a4a3;
}
.accordion-item{
  border-radius: 25px;
  color: wheat;
}
.accordion-button{
  border-radius: 25px;
  /* --bs-accordion-btn-color:#1c0707c4; */
  /* --bs-accordion-btn-bg: #736b0d; */
  color: transparent;
  background-image: linear-gradient(to right, #462523 0%, #cb9b51 5%, #f6e27a 20%, #f6f2c0 20%, #f6e27a 10%, #cb9b51 95%, #462523 100%);
  -webkit-background-clip: text;
}
.accordion {
  --bs-accordion-bg: transparent;
}
.accordion-button:not(.collapsed) {
  box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  border-radius: 25px;

  color: transparent;
  background-image: linear-gradient(to right, #462523 0%, #cb9b51 5%, #f6e27a 20%, #f6f2c0 20%, #f6e27a 10%, #cb9b51 95%, #462523 100%);
  -webkit-background-clip: text;
}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  --bs-accordion-btn-focus-box-shadow: none;
}
.accordion-item:first-of-type>.accordion-header .accordion-button {
  --bs-accordion-inner-border-radius: 25px;
  border-radius: 25px;
  font-size: 25px;
}
.accordion-item:first-of-type {
  --bs-accordion-border-radius: 25px;
  border-radius: 25px;
}
.accordion-item:last-of-type {
  --bs-accordion-border-radius: 25px;
  border-radius: 25px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  border-radius: 25px;
  font-size: 25px;
}
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
  --bs-accordion-inner-border-radius: 25px;
  border-radius: 25px;
  font-size: 25px;
}
.accordion {
  --bs-accordion-border-color: #e4ad0ba8;
}
.accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='orange'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='orange'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.carusel{
  background-color: #08053d;
}
.carousel-item {
  position: relative;
  /* display: flex; */
  justify-content: center;
  float: left;
  width: 100%;
  margin-left: 25%;
  backface-visibility: hidden;
  transition: transform 10s ease-in-out;
}
.w-100 {
  width: 50% !important;
}
  body {
    background: #08053d !important;
    color: wheat;
    font-family: "Cormorant Infant", serif;  
    font-size: 28px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.carousel-indicators [data-bs-target] {
  background-color:#08053d;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: unset;
  margin-left: 15%;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: #591038;
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}
.form-floating>label {
  padding: unset;
}
.back {
  display: block;
  position: relative;
}
.back1{
  display: block;
    width: 25%;
    position: absolute;
    top: 24%;
    left: 37%;
}
.row>* {
  margin-top: 5px;
}
.modal.show .modal-dialog {
 border-radius: 25px;
}
@media screen and (max-width: 768px) {
  .text-title{
    font-size: 8vw;
  }
  .subText_h2, .text_h2,  .text-general, .h1, .h2, h1, p .h1  {
    font-size: 5vw;
  }
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    font-size: 3.5vw;
  }
 .h1 {
  line-height: 1.5;
 }

 .number{
  font-size: 8vw;
 }
 .text-center{
  margin-bottom: 2vw;
  margin-top: 2vw;
}
.mybutton {
  margin-top: 6vw;
}
.text-format {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}
}
  